@tailwind base;
@tailwind components;
@tailwind utilities;

.image {
  z-index: -1;
}

.cover-image {
  background: rgba(0, 0, 0, 0.6);
}

.principal {
  background: linear-gradient(
    180deg,
    rgba(248, 248, 248, 1) 75%,
    rgba(255, 255, 255, 1) 100%
  );
}
